.wrapper{
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
.main{
   flex: 1 1 auto;
}
[class*="__container"]{
   max-width: 1510px;
   margin: 0px auto;
   padding: 0px 10px;
}
.header {
   position: absolute;
   width: 100%;
   z-index: 2;
   &__container {
      display: flex;
      justify-content: space-between;
      min-height: 130px;
      align-items: center;
   }
   &__logo{
      flex: 0 0 226px;
   }
   &__logo img{
      width: 100%;
   }
   &__button {
      flex: 0 0 193px;
   }
}
.button-inline {
   background-image: url(/src/images/header_button.svg);
   background-size: 100%;
   background-repeat: no-repeat;
   border-radius: 50px;
   padding: 15px 31px 15px 66px;
   display: inline-block;
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.3;
   color: #EB242A;
   transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
   &:hover{
      background-color: rgba(252, 242, 242, 0.529);
      box-shadow: 1px 1px 15px 5px rgb(246, 185, 185);
   }
}
// calculeaza
.calculeaza {
   overflow: hidden;
   position: relative;
   margin: 0 0 120px 0;
   &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      top: 0;
      background-image: url(/src/images/calculeaza/main__bg.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      
   }
   &__content {
      position: relative;
      padding: 120px 0 190px 10px;
      max-width: 580px;
   }

   &__title {
      max-width: 460px;
      font-weight: 700;
      font-size: 90px;
      line-height: 121%;
      color: #272D4E;
      margin: 0 0 35px 0;
   }

   &__text {
      max-width: 520px;
      font-weight: 500;
      font-size: 18px;
      line-height: 139%;
      margin: 0 0 120px 0;
      color: #57606A;
   }
   &__buttom{
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__button {
      background: #EB242A;
      border-radius: 60px;
      padding: 20px 70px;
      font-weight: 700;
      font-size: 26.4944px;
      line-height: 31px;
      text-align: center;
      color: #FFFFFF;
      transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
      &:hover{
      background-color: rgb(254, 45, 45);
      box-shadow: 1px 1px 10px 5px rgb(242, 135, 135);
      }
   }

   &__link {
      font-weight: 400;
      font-size: 29.069px;
      line-height: 139%;
color: #94A2B3;
   }
}
.link {
   &__text {
      color:#3C9CE0;
      font-weight: 700;
      border-bottom:2px solid #3C9CE0;
   }
}
//cashback
.cashback {

   margin: 0 0 120px 0;
   &__content {
      display: flex;
      background-color: #FDF4F4;
      border-radius: 21px;
      padding: 30px 100px 30px 125px;
      align-items: center;
      justify-content: space-between;
      
   }

   &__info {
      max-width: 570px;
   }

   &__title {
      min-width: 260px;
      font-weight: 700;
      font-size: 36px;
      line-height: 146% ;
      text-transform: uppercase;
      color: #001A49;
      margin: 0 0 34px 0;
   }

   &__text {
   font-weight: 500;
   font-size: 24px;
   line-height: 152%;
   color: #57606A;
   }

   &__image img{
      max-width: 100%;
      min-width: 304px;
      min-height: 110px;
   }
}
//asigurarea
.asigurarea {
   margin: 0 0 120px 0;
   // position: relative;
   // &__line{
   //    position: absolute;
   //    top: 52%;
   //    left: 57.5%;
   //    margin-left: 0;
      
   // }
   &__title {
   margin: 0 auto 40px;
   max-width: 770px;
   font-weight: 700;
   font-size: 50px;
   line-height: 152%;
   text-align: center;
   color: #272D4E;
   }

   &__steps {
      display: flex;
      justify-content: space-between;
      padding: 30px 26px;
   }
}
.step {
   &__stepnumber {
         margin: 0  auto 40px;
         font-weight: 500;
         font-size: 60px;
         line-height: 170%;
         text-align: center;
         color: #EB242A;
         background: #FFFFFF;
         box-shadow: 0px 12.375px 24.75px rgba(0, 0, 0, 0.11);
         border-radius: 50%;
         width: 100px;
         height: 100px;
   }

   &__stepsubtitle {
         margin: 0 0 5px 0;
         font-weight: 700;
         font-size: 36px;
         line-height: 195%;
         text-align: center;
         color: #272D4E;
   }

   &__steptext {
         font-weight: 500;
         font-size: 18.5px;
         line-height: 150%;
         text-align: center;
         color: #57606A;
   }
   &__steptext:last-child{
      margin: 0 auto;
      max-width: 300px;
   }
}
//telefon
.telefon {
      background-color: #EB242A;
      background-size: cover;
      width: 100%;
      margin: 0 0 110px 0;
   &__content {
      display: flex;
      padding: 54px 0 42px;
      justify-content: space-between;
      align-items: center;
   }
   

   &__text {
      font-weight: 400;
      font-size: 40px;
      line-height: 139%;
      color: #FFFFFF;
      max-width: 710px;
      padding: 0 15px;
   }
   &__number {
   display: inline-block;
   vertical-align: top;
   position: relative;
   }

   &__input {
      max-width: 425px;
      background: #FFFFFF;
      box-shadow: inset -2.40556px -2.40556px 4.81111px rgba(255, 255, 255, 0.5), inset 2.40556px 2.40556px 4.81111px rgba(170, 170, 204, 0.25), inset 6.01389px 6.01389px 12.0278px rgba(170, 170, 204, 0.5), inset -6.01389px -6.01389px 12.0278px #FFFFFF;
      border-radius: 48px;
      font-weight: 500;
      font-size: 26px;
      line-height: 125%;
      color: #616366;
      padding: 20px 160px 20px 40px;
      outline: none;
      display: block;
      cursor: pointer;
      &::placeholder{
         color: #6163667a;
         font-size: 26px;
      }
   }

   &__button {
   position: absolute; 
   top: 13px; 
   right: 13px;
   z-index: 2;
   outline: none;
   border: none;
   display: inline-block;
   color: #fff;
   padding: 10px 10px;
   background: #EB242A;
   box-shadow: 6.01389px 6.01389px 12.0278px rgba(170, 170, 204, 0.5), -6.01389px -6.01389px 12.0278px #FFFFFF;
   border-radius: 38.4889px;
   cursor: pointer;
   transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
      &:hover{
      background-color: rgb(254, 45, 45);
      box-shadow: 1px 1px 10px 5px rgb(242, 135, 135);
      }
      
   }
}


//ofera
.ofera {
   margin: 0 0 70px 0;
   &__title {
   text-align: center;
   font-weight: 700;
   font-size: 50px;
   line-height: 171%;
   letter-spacing: -1.3px;
   color: #001A49;
   margin: 0 0 85px 0;
   }

   &__components {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      
   }

   &__component {
      margin: 0 0 60px 0px;
      padding:40px 50px 25px 25px;
      width: 680px;
      min-height: 200px;
      background: #F6F6F6;
      border-radius: 21px;
      display: flex;
   }
}
.component {

   &__img {
      margin: 0 25px;
   }

   &__info {
      display: flex;
      flex-direction: column;
   }

   &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 125%;
      color: #001A49;
      margin: 0 0 5px 0;
   }
   &__title.cmpttl-one {
      max-width: 200px;
   }
   &__title.cmpttl-two {
      max-width: 400px;
   }
   &__title.cmpttl-three {
      max-width: 200px;
   }
   &__title.cmpttl-four {
      max-width: 400px;
   }

   &__text {
      padding-right: 100px;
      font-family: 'Mulish';
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #4F596A;
   }
}
//rca
.rca {
   margin: 0 -15px;
   &__content {
      min-height: 1040px;
      position: relative;
      display:flex;
      justify-content: space-between;
      padding: 150px 0 170px 0;
   }
   &__content::before{
      content: "";
      z-index: 0;
      width: 1400px;
      height: 900px;
      top: 0;
      right: 250px;
      position: absolute;
      background-color: #FDF4F4;
      border-radius: 25px;
   }
   &__content::after{
      content: "";
      background-image: url(/src/images/rca/dotes.svg);
      background-repeat: no-repeat;
      position: absolute;
      width: 200px;
      height: 450px;
      top: 550px;
      left: 657px;
      z-index: 1;
   }
   &__info {
      max-width: 740px;
      z-index: 2;
   }
   &__title {
      font-weight: 700;
      font-size: 65px;
      line-height: 122%;
      letter-spacing: -1.2px;
      color: #001A49;
      margin: 0 0 40px 0;
   }
   &__text {
      font-weight: 400;
      font-size: 25px;
      line-height: 150%;
      color: #57606A;
      margin: 0 0 70px 0;
   }
   &__button {
      background: #EB242A;
      border-radius: 60px;
      padding: 20px 70px;
      font-weight: 700;
      font-size: 26.4944px;
      line-height: 31px;
      text-align: center;
      color: #FFFFFF;
      z-index: 2;
      transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
      &:hover{
      background-color: rgb(254, 45, 45);
      box-shadow: 1px 1px 10px 5px rgb(242, 135, 135);
      }
   }
   &__video {
      position: absolute;
      right: -160px;
      top: 170px;
      display: inline-block;
      width: 870px;
      height: 530px;
      background: #001A49;
      box-shadow: 0px 47.3173px 65.0612px #818A8C;
      border-radius: 29px 29px 29px 29px;
      z-index: 2;
   }
}
//footer
.footer {
   background: #272D4E;
   &__content {
      display: flex;
      flex-wrap: wrap;
      padding: 110px 0 85px ;
      align-items: center;
      border-bottom: 1px solid #FFFFFF;
   }

   &__logo {
   }

   &__pages {
      flex: 1 1 auto;
      
      margin: 0 0 0 170px;
      
   }

   &__payment-item:first-child{
      margin: 0 40px 0 0;
   }

   &__subtitle {
      padding: 24px 0 31px 0;
      font-weight: 400;
      font-size: 12px;
      line-height: 183%;
      text-align: center;
      color: #FFFFFF;
   }
}
.pages {

   &__list {
      display: flex;
      flex-wrap: wrap;
   }

   &__item {
      font-family: 'Mulish';
      font-weight: normal;
      font-size: 21px;
      line-height: 27px;
      color: #FFFFFF;
      margin-right: 100px;
      align-items: center;
   }
   &__item:last-child {
      margin-right: 0px;
   }
   &__item:first-child {
   
      font-weight: 700;
   }
}




@media (max-width:690px){
   .cashback__content{
      flex-wrap: wrap;
   }
   .footer__subtitle{
      text-align: left;
   }
}
@media (max-width:990px){
   .asigurarea__steps{
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px auto;
      border: 2px solid #57606a36;
      border-radius: 24px;
   }
   .step{
      margin-bottom: 40px;
   }
   .telefon__content{
      flex-wrap: wrap;
      justify-content: center;
   }
   .cashback__content{
      flex-wrap: wrap;
   }
}
@media (max-width:1379px){
   .ofera__components{
      justify-content: center;
   }
}
@media (max-width:1455px){
   .rca__content{
      justify-content: center;
   }
   .rca__video{
      right: 300px;
      top: 700px;
   }
}


@media(max-width:1520px){
   .header__container{
      min-height: calc(70px + (130 - 70) * ((100vw - 320px)/(1520 - 320)));
   }
   .header__logo{
      flex-basis: calc(155px + (226 - 155) * ((100vw - 320px)/(1520 - 320)));
   }
   .header__button{
      flex-basis: calc(114px + (193 - 114) * ((100vw - 320px)/(1520 - 320)));
   }
   .button-inline{
      padding-top: calc(9px + (15 - 9) * ((100vw - 320px)/(1520 - 320)));
      padding-right: calc(18px + (31 - 18) * ((100vw - 320px)/(1520 - 320)));
      padding-bottom: calc(9px + (15 - 9) * ((100vw - 320px)/(1520 - 320)));
      padding-left: calc(39px + (66 - 39) * ((100vw - 320px)/(1520 - 320)));
      font-size: calc(9px + (16 - 9) * ((100vw - 320px)/(1520 - 320)));
   }
//calculeaza
   .calculeaza__title{
      font-size: calc(40px + (60 - 40) * ((100vw - 320px)/(1520 - 320)));
      margin-bottom: calc(20px + (35 - 20) * ((100vw - 320px)/(1520 - 320)));
   }
   .calculeaza__text{
      font-size: calc(12.5px + (18 - 12.5) * ((100vw - 320px)/(1520 - 320)));
      margin-bottom: calc(20px + (120 - 20) * ((100vw - 320px)/(1520 - 320)));
   }
   .calculeaza__button{
      padding-top: calc(15px + (20 - 15) * ((100vw - 320px)/(1520 - 320)));
      padding-right: calc(25px + (70 - 25) * ((100vw - 320px)/(1520 - 320)));
      padding-bottom: calc(15px + (20 - 15) * ((100vw - 320px)/(1520 - 320)));
      padding-left: calc(25px + (70 - 25) * ((100vw - 320px)/(1520 - 320)));
      font-size: calc(19px + (26.4944 - 19) * ((100vw - 320px)/(1520 - 320)));
   }
   .calculeaza__link{
      font-size: calc(15.2743px + (29.069 - 15.2743) * ((100vw - 320px)/(1520 - 320)));
   }

   .calculeaza__content{
      padding-top: calc(70px + (120 - 70) * ((100vw - 320px)/(1520 - 320)));
      padding-bottom: calc(390px + (190 - 390) * ((100vw - 320px)/(1520 - 320)));
      padding-left: calc(0px + (10 - 0) * ((100vw - 320px)/(1520 - 320)));
      max-width: calc(320px + (580 - 320) * ((100vw - 320px)/(1520 - 320)));
   }
   .calculeaza{
      margin-bottom: calc(60px + (120 - 60) * ((100vw - 320px)/(1520 - 320)));;
   }
   //cashback
   .cashback{
      margin-bottom: calc(50px + (120 - 50) * ((100vw - 320px)/(1520 - 320)));
   }
   .cashback__content{
      padding-top: calc(43px + (30 - 43) * ((100vw - 320px)/(1520 - 320)));
      padding-bottom: calc(43px + (30 - 43) * ((100vw - 320px)/(1520 - 320)));
      padding-left: calc(23px + (125 - 23) * ((100vw - 320px)/(1520 - 320))); 
      padding-right: calc(32px + (100 - 32) * ((100vw - 320px)/(1520 - 320))); 
   }
   .cashback__info{
      margin: 0 0 36px 0;
   }
   .cashback__image{
      margin: 0px -27px;
   }
   //asigurarea
   .asigurarea__title{
      font-size: calc(26px + (50 - 26) * ((100vw - 320px)/(1520 - 320)));
   }
   .step__stepnumber{
      width: calc(70px + (100 - 70) * ((100vw - 320px)/(1520 - 320)));
      height: calc(70px + (100 - 70) * ((100vw - 320px)/(1520 - 320)));
      font-size: calc(40px + (60 - 30) * ((100vw - 320px)/(1520 - 320)));
      margin-bottom: calc(26px + (40 - 26) * ((100vw - 320px)/(1520 - 320)));

   }
   .step__stepsubtitle{
      font-size: calc(23px + (36 - 23) * ((100vw - 320px)/(1520 - 320)));
   }   
   .step__steptext{
       font-size: calc(13px + (18.5 - 13) * ((100vw - 320px)/(1520 - 320)));
   }
   // .asigurarea__line{
   //    width: calc(50px + (287 - 100) * ((100vw - 320px)/(1520 - 320)));
   //    margin-left: calc(-50px + (0 + 120) * ((100vw - 320px)/(1520 - 320)));
   // }
   //telefon
   .telefon__text{
      font-size: calc(18px + (40 - 18) * ((100vw - 320px)/(1520 - 320)));
      margin-bottom: calc(26px + (0 - 26) * ((100vw - 320px)/(1520 - 320)));
   }
   .telefon__input{
      max-width: calc(300px + (425 - 300) * ((100vw - 320px)/(1520 - 320)));
      font-size: calc(19px + (26 - 19) * ((100vw - 320px)/(1520 - 320)));
      padding-top: calc(15px + (20 - 15) * ((100vw - 320px)/(1520 - 320)));
      padding-bottom: calc(15px + (20 - 15) * ((100vw - 320px)/(1520 - 320)));
      padding-left: calc(25px + (40 - 25) * ((100vw - 320px)/(1520 - 320))); 
      padding-right: calc(115px + (160 - 115) * ((100vw - 320px)/(1520 - 320))); 
      // padding: 20px 160px 20px 40px;
   }
   .telefon__input::placeholder{
      font-size: calc(19px + (26 - 19) * ((100vw - 320px)/(1520 - 320)));
   }
   .telefon__button{
      padding-top: calc(7px + (10 - 7) * ((100vw - 320px)/(1520 - 320)));
      padding-bottom: calc(7px + (10 - 7) * ((100vw - 320px)/(1520 - 320)));
      padding-left: calc(7px + (10 - 7) * ((100vw - 320px)/(1520 - 320)));
      padding-right: calc(7px + (10 - 7) * ((100vw - 320px)/(1520 - 320)));
      top:  calc(11px + (13 - 11) * ((100vw - 320px)/(1520 - 320)));
   }
   .telefon__button img{
      width: calc(18px + (27 - 18) * ((100vw - 320px)/(1520 - 320)));
      height: calc(18px + (27 - 18) * ((100vw - 320px)/(1520 - 320)));
   }
   .telefon__content{
      padding-top: calc(36px + (54 - 36) * ((100vw - 320px)/(1520 - 320)));
   }
   //ofera
   .ofera__component{
      padding-top: calc(25px + (40 - 25) * ((100vw - 320px)/(1520 - 320)));
      padding-bottom: calc(17px + (50 - 17) * ((100vw - 320px)/(1520 - 320)));
      padding-right: calc(25px + (50 - 25) * ((100vw - 320px)/(1520 - 320)));
      padding-left: calc(0px + (25 - 0) * ((100vw - 320px)/(1520 - 320)));
      min-height: calc(150px + (200 - 150) * ((100vw - 320px)/(1520 - 320)));
      margin-bottom: calc(30px + (60 - 30) * ((100vw - 320px)/(1520 - 320)));
   }
   .ofera__title{
      font-size: calc(26px + (50 - 26) * ((100vw - 320px)/(1520 - 320)));
      margin-bottom: calc(20px + (85 - 20) * ((100vw - 320px)/(1520 - 320)));
   }
   .component__title{
      font-size: calc(15px + (24 - 15) * ((100vw - 320px)/(1520 - 320)));
   }
   .component__text{
      font-size: calc(10px + (16 - 10) * ((100vw - 320px)/(1520 - 320)));
      padding-right: calc(0px + (100 - 0) * ((100vw - 320px)/(1520 - 320)));;
   }
   .component__img img{
      width: calc(40px + (68 - 40) * ((100vw - 320px)/(1520 - 320)));
      height: calc(40px + (68 - 40) * ((100vw - 320px)/(1520 - 320)));
   }
   //rca
   .rca__content{
      justify-content: center;
      padding-top: calc(50px + (150 - 50) * ((100vw - 320px)/(1520 - 320)));
      padding-bottom: calc(150px + (170 - 150) * ((100vw - 320px)/(1520 - 320)));
   }
   .rca__content::before{
      content: "";
      height: 90%;
      background-size: cover;
      right: calc(-350px + (155 + 350) * ((100vw - 320px)/(1520 - 320))); 
   }
   .rca__content::after{
      content: "";
      left: calc(100px + (657 - 100) * ((100vw - 320px)/(1520 - 320)));
      top: calc(620px + (550 - 620) * ((100vw - 320px)/(1520 - 320)));
   }
   .rca__info{
      max-width: calc(275px + (740 - 275) * ((100vw - 320px)/(1520 - 320)));
   }
   .rca__title{
      font-size: calc(26px + (65 - 26) * ((100vw - 320px)/(1520 - 320))); 
      margin-bottom: calc(27px + (40 - 27) * ((100vw - 320px)/(1520 - 320))); 
   }
   .rca__text{
      font-size: calc(14px + (25 - 14) * ((100vw - 320px)/(1520 - 320))); 
      margin-bottom: calc(40px + (70 - 40) * ((100vw - 320px)/(1520 - 320))); 
   }
   .rca__button{
      padding-top: calc(10px + (20 - 10) * ((100vw - 320px)/(1520 - 320)));
      padding-bottom: calc(10px + (20 - 10) * ((100vw - 320px)/(1520 - 320)));
   }
   .rca__video{
      box-shadow: 0px 20px 67px #818A8C;
      width: calc(300px + (870 - 300) * ((100vw - 320px)/(1520 - 320)));
      height: calc(480px + (530 - 480) * ((100vw - 320px)/(1520 - 320)));
      right: calc(15px + (300 - 15) * ((100vw - 320px)/(1520 - 320)));
      top: calc(350px + (700 - 350) * ((100vw - 320px)/(1520 - 320)));
   }
   //footer
   .footer{
      margin-top: 300px;
      margin-top: calc(40px + (300 - 40) * ((100vw - 320px)/(1520 - 320)));
   }
   .footer__content{
      padding-bottom: calc(20px + (85 - 20) * ((100vw - 320px)/(1520 - 320)));
      padding-top: calc(10px + (110 - 10) * ((100vw - 320px)/(1520 - 320)));
   }
   .footer__logo{
      margin-bottom: 30px;
   }
   .footer__pages{
      margin-left: calc(0px + (170 - 0) * ((100vw - 320px)/(1520 - 320)));
   }
   .pages__item{
      margin-bottom: 20px;
   }
   .pages__item:last-child {
      margin-bottom: 40px;
   }
   .footer__payment{
      margin-bottom: 40px;
   }
   
}


